.row{:style => "background-color:#f5f4f2;margin:0 0 0 0;"}
  = render 'layouts/messages'

  .panel.panel-default{:style => "margin-bottom:0;"}
    .panel-body

      -if @cart_items.any?

        = form_tag do
          .row
            .col-xs-12

              .panel.panel-default
                .panel-body

                  .table-responsive

                    %table.table.table-hover
                      %thead
                        %tr
                          %th Product
                          %th Price
                          %th Quantity
                          %th Remove
                          %th Total


                      - @cart_items.each do |line|

                        %tr
                          %td
                            = raw line.productName
                          %td.unit_price_cell
                            = number_to_currency(line.productPrice)
                          %td
                            = number_field_tag 'productline[][qty]', nil, :min => 1, :class => 'product_qty_input', :required => 'required', :value => line.quantity
                            = hidden_field_tag 'productline[][productId]', line.productId
                          %td
                            = button_to 'Remove', {:controller => "cart", :action => "save"}, :method => :post, :params => {:commit => 'remove', :product_id => line.productId, :product_name => line.productName}

                          %td.total_price_cell
                            = number_to_currency(0)


                      %tr
                        %td
                        %td
                        %td
                        %td
                        %td

                      %tr
                        %td
                        %td
                        %td
                        %td
                          %b
                            Total
                        %td.grand_total_cell
                          %b
                            =number_to_currency(0)

              .row
                .col-xs-12
                  .col-sm-4
                  .col-sm-4
                    = link_to "Continue shopping", {:controller => 'products', :action => 'index'}, :class => "btn btn-link btn-block bold-font"
                  .col-sm-4.button-hover
                    = submit_tag 'Checkout', :class => 'btn btn-primary'

      -else
        .row
          .col-xs-12
            .panel.panel-default
              .panel-body
                .row
                  .col-xs-12{:style => "text-align:center;"}
                    Cart is empty!
                .row
                  .col-xs-12
                    = link_to "Continue shopping", {:controller => 'products', :action => 'index'}, :class => "btn btn-link btn-block bold-font"

      .row{:style => "margin-top:15px;"}
        .col-xs-12{:style => "font-size: small;"}
          .panel.panel-default
            .panel-body
              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12{:style => "text-align:center;margin-bottom:10px;margin-top:10px;"}
                  %b
                    PURCHASING AGREEMENT
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  This Agreement is by and between PuraCap Pharmaceutical, LLC, a New Jersey limited liability company (&quot;PuraCap&quot;) and You (&quot;Purchaser&quot;).
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12{:style => "text-align:center;margin-bottom:10px;margin-top:10px;"}
                  %b
                    RECITALS
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12{:style => "margin-bottom:10px;"}
                  A. WHEREAS PuraCap develops, manufactures and supplies pharmaceutical products and services to the healthcare industry worldwide;
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12{:style => "margin-bottom:10px;margin-top:10px;"}
                  B. WHEREAS purchaser is you
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12{:style => "margin-bottom:10px;margin-top:10px;"}
                  C. WHEREAS the Parties desire to enter into this Agreement;
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b 1. AGREEMENT.
                  This Agreement is entered into between PuraCap
                  Pharmaceutical LLC (“PuraCap”), and the party described as the purchaser
                  (“You”). This Agreement governs any Purchase Order as offer to buy the goods
                  and/ or services described herein and becomes a binding contract on the terms
                  and conditions when accepted by the purchaser either by acknowledgement or
                  by shipment or other commencement of work. NO REVISIONS, CHANGES,
                  ADDITIONS OR MODIFICATIONS OF THIS AGREEMENT INCLUDING
                  PURCHASER’S TERMS AND CONDITIONS OF SALE OR ALTERATIONS
                  TO A PURACHASE ORDER, SHALL BE VAILD UNLESS IN WRITING
                  AND SIGNED BY AN AUTHORIZED RESENTATIVE OF PURACAP.
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b 2. PURCHASE AND PAYMENT.
                  Purchaser will pay the price for
                  Products stated on the Invoice. Payment is made when Purchaser’s credit card is
                  processed and accepted. Order Limit: No more than Six units can be purchased
                  at one time. Any units purchased CANNOT be re-sold on the internet or in any
                  retail outlet.
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b 3. TAXES.
                  Any applicable sales taxes will be the responsibility of the
                  purchaser and will charged at the time of purchase.
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b 4. DELIVERY.
                  Delivery of Goods and Services shall be made pursuant to
                  the schedule, via the carrier, and to the place specified on the face of the
                  applicable order. Shipping will be by standard ground delivery in
                  approximately 4-10 days. Purchaser shall promptly notify PuraCap of any
                  delays or threatened delays of their order. In AK and HI shipping costs will
                  apply since it is out of the continental US.
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b 5. CANCELLED ORDERS.
                  Purchaser may cancel an order without
                  further obligation by notifying Symplmed in writing via email or contacting the
                  call center to request the cancellation within 24 hours of the order being placed.
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b 6. REFUND AND RETURN POLICY.
                  Only un-opened sealed boxes
                  will be accepted for return. Purchaser will receive no refund for the product if it
                  is opened in any way. Any returns will not be accepted after 180 days from
                  purchase. Return must be processed during this time to receive any refund. The
                  Symplmed call center must be contacted to request the return and if return is
                  accepted be sent to 745 NW Mt Washington Dr Suite #300, Bend, OR 97703
                  Attn: Returns Dept. via standard ground and insured. Purchaser bears the
                  responsibility for all return postage, shipping and handling costs.
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12{:style => "margin-bottom:10px;margin-top:10px;"}
                  BY CLICKING THE &quot;I accept the terms and conditions above&quot; BOX AND
                  TYPING YOUR NAME, OR CONFIRMING WITH OUR CUSTOMER
                  SERVICE AGENT, YOU
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12{:style => "margin-bottom:10px;margin-top:10px;"}
                  (A) ACKNOWLEDGE THAT YOU HAVE READ AND UNDERSTAND THIS AGREEMENT;
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12{:style => "margin-bottom:10px;margin-top:10px;"}
                  (B) REPRESENT THAT YOU, the consumer, WILL NOT resell any product purchased by PuraCap;
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12{:style => "margin-bottom:10px;margin-top:10px;"}
                  (C) ACCEPT THIS AGREEMENT AND AGREE THAT YOU ARE LEAGALLY BOUND BY ITS TERMS
                .col-md-2.hidden-xs


:javascript

  $(".product_qty_input").on("input",null,null,function(){

    calculateQuantityTotal($(this));
  });


  function calculateQuantityTotal(thisobj) {

    var productGrandTotal = 0;

    $(".product_qty_input").each(function(){

        var productQuantity =  this.value;

        var productCurrency = $(this).closest("tr").find(".unit_price_cell").text();
        var productPrice = Number(productCurrency.replace(/[^0-9\.]+/g,""));

        var totalPrice = (productPrice * productQuantity);

        productGrandTotal = productGrandTotal + totalPrice;

        console.log(productQuantity);
        console.log(productCurrency);
        console.log(productPrice);
        console.log(totalPrice);
        console.log(productGrandTotal);


        var totalPriceCurrency = "$".concat(totalPrice.toFixed(2).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"));

        $(this).closest("tr").find(".total_price_cell").html(totalPriceCurrency);

      });

      var grandTotalCurrency = "$".concat(productGrandTotal.toFixed(2).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"));
      thisobj.closest("table").find(".grand_total_cell").html(grandTotalCurrency);
  }

  $(function(){
    $(".product_qty_input").each(function(){
      calculateQuantityTotal($(this));
    });
  });



:css
  .modal {overflow-y: auto;}
  .modal-open {padding-right: 0 !important;}
  .bold-font {font-weight: bold;}


    div.button-hover > input[type="submit"] {
         color:white;
         background-color:#c7a900;
         font-weight:bold;
         border-style:none;
       }
    div.button-hover > input[type="submit"]:hover {
      background-color:#c7a900;
      font-weight:bold;
      border-style:none;
      color:#333333;
   }
   div.button-hover > input[type="submit"]:focus {
            background-color:#c7a900;
            font-weight:bold;
            border-style:none;
            color:#333333;
         }
   div.button-hover > input[type="submit"]:active {
         background-color:#c7a900;
         font-weight:bold;
         border-style:none;
         color:#333333;
      }


