
.row{:style => "margin:0 0 0 0;"}
  .col-xs-12.col-md-6.col-md-offset-3
    #title_bar.col-xs-12{:style => "background-color: rgba(194, 43, 36, 0.6);margin:0 0 0 0;"}
      .col-xs-12.col-sm-3{:style => "padding: 0 0 0 0;"}
        #page_title{:style => "background-color: #c22b24;"}
          %h5{:style => "color:white; line-height: 45px;margin:0 0 0 0;"} Login
      .col-sm-3.hidden-xs


.col-xs-12.col-md-6.col-md-offset-3
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :role => "form") do |f|
    = devise_error_messages!

    .panel.panel-default{:style => "margin-bottom:0;"}


      .panel-body

        .form-group
          = f.label :username
          = f.email_field :username, :class => "form-control"

        .form-group
          = f.label :password
          = f.password_field :password, :class => "form-control"

      .panel-footer
        .row
          .col-xs-12.col-md-6
            = link_to 'Create Account', new_patients_patient_registration_path, class: 'btn btn-warning btn-block new_button'
          .col-xs-12.col-md-6
            = f.submit "Login", class: "btn btn-primary btn-block new_button"

        .row
          .col-xs-12
            = link_to "Forgot your password?", new_patients_patient_password_path, class: "btn btn-link btn-block"


