
.row{:style => "margin:0 0 0 0;"}

  .panel.panel-default{:style => "margin-bottom:0;"}
    .panel-body


      .col-xs-12.col-md-6
        = form_for(resource, :as => resource_name, :url => session_path(resource_name), :role => "form") do |f|
          = devise_error_messages!

          .panel.panel-default{:style => "margin-bottom:0;"}
            .panel-heading
              %h4
                Login
            .panel-body

              .form-group
                = f.label :username
                = f.email_field :username, :class => "form-control"

              .form-group
                = f.label :password
                = f.password_field :password, :class => "form-control"

            .panel-footer
              .row
                .col-xs-12.col-md-6.mobile_nav_bar
                  = link_to 'Create Account', new_patients_patient_registration_path, :class => 'btn btn-block button-hovers'
                .col-xs-12.col-md-6.button-hover
                  = f.submit "Login", :class => "btn btn-primary btn-block"

              .row
                .col-xs-12.col-md-6
                  = link_to "Forgot your password?", new_patients_patient_password_path, :class => "btn btn-link btn-block"

      .col-xs-12.col-md-6
        .panel.panel-default{:style => "margin-bottom:0;"}
          .panel-heading
            %h4
              Checkout as Guest
          .panel-body
            = link_to "Checkout as Guest", {:controller => 'checkout', :action => 'index'}, :class => "btn btn-link btn-block"


:css

    div.button-hover > input[type="submit"] {
         color:white;
         background-color:#ffffff;
         font-weight:bold;
         border-style:none;
       }
    div.button-hover > input[type="submit"]:hover {
      background-color:#ffffff;
      font-weight:bold;
      border-style:none;
      color:#333333;
   }
   div.button-hover > input[type="submit"]:focus {
            background-color:#ffffff;
            font-weight:bold;
            border-style:none;
            color:#333333;
    }
    div.button-hover > input[type="submit"]:active {
         background-color:#ffffff;
         font-weight:bold;
         border-style:none;
         color:#333333;
    }

    div.mobile_nav_bar > a.button-hovers{
            color:white;
            background-color:#ffffff;
            font-weight:bold;
    }
    div.mobile_nav_bar > a.button-hovers:hover{
      color:#333333;
    }

    div.mobile_nav_bar > a.button-hovers:focus{
          color:#333333;
    }
    div.mobile_nav_bar > a.button-hovers:active{
      color:#333333;
    }