.row{:style => "margin:0 0 0 0;"}

.col-xs-12.col-md-6.col-md-offset-3

  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :role => "form") do |f|
    = devise_error_messages!
    
    .panel.panel-default{:style => "margin-bottom:0;"}
      .panel-heading
        %h4
          Create Account
      .panel-body
      
        .form-group
          = f.label "First Name"
          = f.text_field :firstname, :class => "form-control", :required => "true", :value => @physician_firstname

        .form-group
          = f.label "Last Name"
          = f.text_field :lastname, :class => "form-control", :required => "true", :value => @physician_lastname

        .form-group
          = f.label "Practice Zip"
          = f.text_field :practiceZip, :class => "form-control", :required => "true", :value => @physician_practiceZip
        
        .form-group
          = f.label :phone
          = f.phone_field :phone, :class => "form-control", :required => "true", :autocomplete => "off", :value => @physician_phone
        
        .form-group
          = f.label :email
          = f.email_field :email, :class => "form-control", :required => "true", :autocomplete => "off", :value => @physician_email

        .form-group
          = f.label "NPI", :style => "text-transform:uppercase"
          = f.text_field :username, :class => "form-control", :required => "true", :value => @physician_username

        .form-group
          = f.label :password
          = f.password_field :password, :class => "form-control", :required => "true", :autocomplete => "off"

        .form-group
          = f.label 'Password Strength'
          %br
          %span
            Passwords must contain, at least one lowercase letter, at least one uppercase letter, at least one number and must be a minimum length of eight characters.
          .progress
            #result.progress-bar{:style => "width: 0;"}

        .form-group
          = f.label :password_confirmation
          = f.password_field :password_confirmation, :class => "form-control", :required => "true"

        .form-group
          = f.label "Please provide the name a primary contact"
          = f.text_field :officeContact, :class => "form-control", :required => "true"

        -#.form-group
          = f.label "Promo Code (optional)"
          = f.text_field :promoCode, :class => "form-control"

        .form-group
          = f.label "I agree the to the "
          = link_to "End User Agreement", pages_eua_path, :target => '_blank', :class => "btn btn-primary btn-link", :style => "padding-left: 0px"

          = f.check_box :agreement, :class => "checkbox", :required => "true"

        .form-group
          .col-xs-12{:style => "color:grey;"}
            * All Fields are Required to Register

      .panel-footer
        .row
          .col-xs-12.col-md-6
            = f.submit "Create Account", :class => "btn btn-primary btn-block new_button"
          .col-xs-12.col-md-6
            = link_to "Sign In", new_physicians_physician_session_path, :class => "btn btn-primary btn-link btn-block"
        
:javascript

  $(document).ready(function()
  {
      /*
          assigning keyup event to password field
          so everytime user type code will execute
      */

      $('#physicians_physician_password').keyup(function()
      {
          //$('#result').html(checkStrength($('#physicians_physician_password').val()))

          checkStrength($('#physicians_physician_password').val());
      })

      /*
          checkStrength is function which will do the
          main password strength checking for us
      */

      function checkStrength(password)
      {
          //initial strength
          var strength = 0;

          //if length is 8 characters or more, increase strength value
          if (password.length > 7) strength += 1

          //if has lowercase character, increase strength value
          if ( password.match(/([a-z])/) )  strength += 1

          //if has uppercase character, increase strength value
          if ( password.match(/([A-Z])/) )  strength += 1

          //if has number, increase strength value
          if ( password.match(/([0-9])/))  strength += 1

          //if it has one special character, increase strength value
          //if (password.match(/([!,%,&,@,#,$,^,*,?,_,~])/))  strength += 1


          //now we have calculated strength value, we can return messages

          console.log(strength);

          //if value is less than 2
          if (strength == 1 )
          {
              $('#result').removeClass();
              $('#result').addClass('progress-bar');
              $('#result').addClass('progress-bar-danger');
              $('#result').css('width','25%');
              //return 'Weak'
          }
          if (strength == 2 )
          {
              $('#result').removeClass();
              $('#result').addClass('progress-bar');
              $('#result').addClass('progress-bar-danger');
              $('#result').css('width','50%');
              //return 'Weak'
          }
          if (strength == 3 )
          {
              $('#result').removeClass();
              $('#result').addClass('progress-bar');
              $('#result').addClass('progress-bar-warning');
              $('#result').css('width','75%');
              //return 'Weak'
          }
          else if (strength >= 4 )
          {
              $('#result').removeClass();
              $('#result').addClass('progress-bar');
              $('#result').addClass('progress-bar-success');
              $('#result').css('width','100%');
              //return 'Good'
          }
      }
  });

:CSS
  .short{
  	color:#FF0000;
  }

  .weak{
  	color:#E66C2C;
  }

  .good{
  	color:#2D98F3;
  }

  .strong{
  	color:#006400;
  }