.row{:style => "background-color:#f5f4f2;margin:0 0 0 0;"}
  = render 'layouts/messages'

  .panel.panel-default{:style => "margin-bottom:0;"}
    .panel-body
      = form_tag do
        .row
          .col-xs-12

            .panel.panel-default
              .panel-body

                .table-responsive

                  %table.table.table-hover
                    %thead
                      %tr
                        %th Product
                        %th Price
                        %th Quantity
                        %th Total


                    - @cart_items.each do |line|

                      %tr
                        %td
                          = raw line.productName
                        %td.unit_price_cell
                          = number_to_currency(line.productPrice)
                        %td{:class => 'product_qty_input'}
                          = line.quantity
                          = hidden_field_tag 'productline[][qty]', line.quantity
                          = hidden_field_tag 'productline[][productId]', line.productId
                        %td.total_price_cell
                          = number_to_currency(line.totalPrice)

                    %tr
                      %td
                      %td
                      %td
                      %td

                    %tr
                      %td
                      %td
                      %td
                        %b
                          Total
                      %td.grand_total_cell
                        %b
                          =number_to_currency(@cart_grand_total)
                    %tr
                      %td
                        Shipping
                        = (@shippingType)


        .row
          .col-xs-12
            .panel.panel-default
              .panel-body

                -if @commit_action == 'Continue to Payment method' || (@commit_action == 'Complete order' && @checkout_error == true)
                  .row
                    .col-xs-12.col-md-6

                      %label Please Note, Your charge will appear as BioMauris!

                      .form-group
                        = label_tag "Card number"
                        = text_field_tag :card_number, '', :placeholder => 'Card number', :pattern => ".*\\S+.*", :required => true, :class => "form-control"

                      .form-group
                        = label_tag "Card Type"
                        = select_tag :card_type, options_for_select(['Visa', 'MasterCard', 'American Express']), :required => true, :class => "form-control"

                      .form-group
                        = label_tag 'Security code'
                        = text_field_tag :security_code, '', :placeholder => 'CVV', :pattern => ".*\\S+.*", :required => true, :class => "form-control"

                    .col-xs-12.col-md-6

                      .form-group
                        = label_tag 'Expiration Month'
                        = select_tag :expiration_month, options_for_select(['01','02','03','04','05','06','07','08','09','10','11','12']), :required => true, :class => "form-control"
                      .form-group
                        = label_tag 'Expiration Year'
                        = select_year(Date.today, { :start_year => Date.today.year, :end_year =>  Date.today.year + 20, :prefix => 'expiration'}, {:required => true, :class => "form-control" })



                      .form-group
                        = hidden_field_tag :coupon_code, @checkout_session['coupon_code']
                        = hidden_field_tag :email_address, @checkout_session['email_address']
                        = hidden_field_tag :confirm_email, @checkout_session['confirm_email']
                        = hidden_field_tag :billing_phone, @checkout_session['billing_phone']
                        = hidden_field_tag :first_name, @checkout_session['first_name']
                        = hidden_field_tag :last_name, @checkout_session['last_name']
                        = hidden_field_tag :billing_address1, @checkout_session['billing_address1']
                        = hidden_field_tag :billing_city, @checkout_session['billing_city']
                        = hidden_field_tag :billing_state, @checkout_session['billing_state']
                        = hidden_field_tag :billing_zip, @checkout_session['billing_zip']
                        = hidden_field_tag :recipient_full_name, @checkout_session['recipient_full_name']
                        = hidden_field_tag :shipping_address1, @checkout_session['shipping_address1']
                        = hidden_field_tag :shipping_city, @checkout_session['shipping_city']
                        = hidden_field_tag :shipping_state, @checkout_session['shipping_state']
                        = hidden_field_tag :shipping_zip, @checkout_session['shipping_zip']
                        = hidden_field_tag :same_shipping, @checkout_session['same_shipping']

                  .row
                    .col-xs-12.col-md-4
                    .col-xs-12.col-md-4.button-hover
                      = submit_tag 'Return to customer information', :class => 'btn btn-primary'
                    .col-xs-12.col-md-4.button-hover
                      = submit_tag 'Complete order', :class => 'btn btn-primary'



                -elsif @commit_action == 'Complete order' && @checkout_error == false
                  .row
                    .col-xs-12
                      .alert.alert-success
                        Your order has been successfully processed! You will receive an email confirmation shortly.

                -else
                  .row
                    .col-xs-12.col-md-6

                      %label Customer

                      .form-group
                        = label_tag "Affiliate Code"
                        = text_field_tag :coupon_code, @checkout_session['coupon_code'], :placeholder => 'Coupon / Referral Code', :class => "form-control"

                      .form-group
                        = label_tag "First Name"
                        = text_field_tag :first_name, @checkout_session['first_name'], :placeholder => 'First Name', :pattern => ".*\\S+.*", :required => true, :disabled => ((@checkout_session['account_id'] == nil )?false:true), :class => "form-control"

                      .form-group
                        = label_tag "Last Name"
                        = text_field_tag :last_name, @checkout_session['last_name'], :placeholder => 'Last Name', :pattern => ".*\\S+.*", :required => true, :disabled => ((@checkout_session['account_id'] == nil )?false:true), :class => "form-control"

                      .form-group
                        = label_tag "Email Address"
                        = text_field_tag :email_address, @checkout_session['email_address'], :placeholder => 'Email Address', :type => "email", :pattern => ".*\\S+.*", :required => true, :disabled => ((@checkout_session['account_id'] == nil )?false:true), :class => "form-control"

                      .form-group
                        = label_tag "Confirm Email"
                        = text_field_tag :confirm_email, @checkout_session['confirm_email'], :placeholder => 'Confirm Email', :type => "email", :pattern => ".*\\S+.*", :required => true, :disabled => ((@checkout_session['account_id'] == nil )?false:true), :class => "form-control"



                      .form-group
                        = label_tag "Phone"
                        = text_field_tag :billing_phone, @checkout_session['billing_phone'], :placeholder => 'Phone', :pattern => ".*\\S+.*", :required => true, :class => "form-control"


                    .col-xs-12.col-md-6

                      %label Billing

                      .form-group
                        = label_tag "Address 1"
                        = text_field_tag :billing_address1, @checkout_session['billing_address1'], :placeholder => 'Address 1', :pattern => ".*\\S+.*", :required => true, :class => "form-control"

                      .form-group
                        = label_tag "City"
                        = text_field_tag :billing_city, @checkout_session['billing_city'], :placeholder => 'City', :pattern => ".*\\S+.*", :required => true, :class => "form-control"

                      .form-group
                        = label_tag "State"
                        = select_tag :billing_state, options_for_select(['Select State','AL','AK','AZ','AR','CA','CO','CT','DE','DC','FL','GA','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT','VA','WA','WV','WI','WY','AB','BC','MB','NB','NL','NS','NT','NU','ON','PE','QC','SK','YT']), :prompt => 'Select State', :required => true, :class => "form-control"


                      .form-group
                        = label_tag "Zip Code"
                        = text_field_tag :billing_zip, @checkout_session['billing_zip'], :maxlength => 5, :placeholder => 'Zip Code', :pattern => ".*\\S+.*", :required => true, :class => "form-control"

                      .form-group
     
                        = check_box_tag 'same_shipping', 'yes', false
                        My Shipping information if the same as my Billing information


                  .row{:id => "shipping_row"}
                    .col-xs-12.col-md-6
                    .col-xs-12.col-md-6
                      %label Recipient and Shipping Information

                      .form-group
                        = label_tag "Recipient Name"
                        = text_field_tag :recipient_full_name, @checkout_session['recipient_full_name'], :placeholder => 'Full Name', :pattern => ".*\\S+.*", :class => "form-control"
  

                      .form-group
                        = label_tag "Address 1"
                        = text_field_tag :shipping_address1, @checkout_session['shipping_address1'], :placeholder => 'Address 1', :pattern => ".*\\S+.*", :class => "form-control"

                      .form-group
                        = label_tag "City"
                        = text_field_tag :shipping_city, @checkout_session['shipping_city'], :placeholder => 'City', :pattern => ".*\\S+.*", :class => "form-control"

                      .form-group
                        = label_tag "State"
                        = select_tag :shipping_state, options_for_select(['AL','AK','AZ','AR','CA','CO','CT','DE','DC','FL','GA','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT','VA','WA','WV','WI','WY','AB','BC','MB','NB','NL','NS','NT','NU','ON','PE','QC','SK','YT']), :class => "form-control"

                      .form-group
                        = label_tag "zip Code"
                        = text_field_tag :shipping_zip, @checkout_session['shipping_zip'], :maxlength => 5, :placeholder => 'zip Code', :pattern => ".*\\S+.*", :class => "form-control"

                  .row
                    .col-xs-12.col-md-4
                      = (@shippingType)
                    .col-xs-12.col-md-4
                      = link_to "Return to Cart", {:controller => 'cart', :action => 'index'}, :class => "btn btn-link btn-block bold-font"
                    .col-xs-12.col-md-4.button-hover{:style => "text-align:right;padding-right:30px"} 
                      = submit_tag 'Continue to Payment method', :class => "btn btn-primary"




:javascript

  $('#shipping_row').show();


  $(".product_qty_input").on("input",null,null,function(){
    calculateQuantityTotal($(this));
  });


  function calculateQuantityTotal(thisobj) {

    var productGrandTotal = 0;

    $(".product_qty_input").each(function(){

        var productQuantity =  this.value;

        var productCurrency = $(this).closest("tr").find(".unit_price_cell").text();
        var productPrice = Number(productCurrency.replace(/[^0-9\.]+/g,""));

        var totalPrice = (productPrice * productQuantity);

        productGrandTotal = productGrandTotal + totalPrice;

        var totalPriceCurrency = "$".concat(totalPrice.toFixed(2).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"));

        $(this).closest("tr").find(".total_price_cell").html(totalPriceCurrency);

      });

      var grandTotalCurrency = "$".concat(productGrandTotal.toFixed(2).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"));
      thisobj.closest("table").find(".grand_total_cell").html(grandTotalCurrency);
  }

  $('#same_shipping').click(function(){

      if($(this).is(':checked')){

        $('#shipping_address1').removeAttr("required");
        $('#shipping_city').removeAttr("required");
        $('#shipping_state').removeAttr("required");
        $('shipping_zip').removeAttr("required");
        $('#shipping_row').hide();

      }else{

        $('#shipping_address1').attr("required","required");
        $('#shipping_city').attr("required","required");
        $('#shipping_state').attr("required","required");
        $('shipping_zip').attr("required","required");
        $('#shipping_row').show();
      }

    });


:css
  .modal {overflow-y: auto;}
  .modal-open {padding-right: 0 !important;}
  .bold-font {font-weight: bold;}

   div.button-hover > input[type="submit"] {
            color:#5b5b5b;
            background-color:#c7ccd0;
            border-color:#222222;
            border:1px;
            font-weight:bold;
            border-style:none;
          }
     div.button-hover > input[type="submit"]:hover {
       background-color:#c7ccd0;
       font-weight:bold;
       border-style:none;
       color:#333333;
    }
    div.button-hover > input[type="submit"]:focus {
             background-color:#c7ccd0;
             font-weight:bold;
             border-style:none;
             color:#333333;
          }
    div.button-hover > input[type="submit"]:active {
          background-color:#c7ccd0;
          font-weight:bold;
          border-style:none;
          color:#333333;
        }