.row{:style => "background-color:#f5f4f2;margin:0 0 0 0;"}
  = render 'layouts/messages'

  .panel.panel-default{:style => "margin-bottom:0;"}
    .panel-body

      .row
        .col-xs-12
          - @price_book.each do |prod|

            .row
              .panel.panel-default
                .panel-body
                  .col-xs-4
                    %img{:src => "#{prod.productUrl}", :height => "400", :width => "320"}
                  .col-xs-8
                    .col-xs-12
                      %h2
                        = raw prod.productName
                    .col-xs-12
                      = raw prod.productDescription
                    .col-xs-12{:style => "margin-bottom:20px;margin-top:20px"}
                      .unit_price_cell
                        = number_to_currency(prod.productPrice)
                    .col-xs-4{:style => "text-align:right;margin-bottom:20px;margin-top:20px;color:white;"}
                      = button_to 'Add to Cart', {:controller => "products", :action => "add_to_cart"}, :method => :post,:class => 'btn', :style => "background-color:#ffc81f; font-size: 2em; font-weight: bold;", :params => {:product_id => prod.productId, :product_name => prod.productName}

