.row{:style => "background-color:#f5f4f2;margin:0 0 0 0;"}
  = render 'layouts/messages'

  .panel.panel-default{:style => "margin-bottom:0;"}
    .panel-heading
      %h4
        Store
    .panel-body

      = form_tag do
        .row
          .col-xs-12
            - @price_book.each do |prod|

              .row
                .panel.panel-default
                  .panel-body
                    = prod.productName
                  .unit_price_cell
                    = number_to_currency(prod.productPrice)
                  .col-xs-12
                    = prod.productId
              .row
                = button_to 'Add to cart', {:controller => "products", :action => "add_to_cart"}, :method => :post, :params => {:product_id => prod.productId, :product_name => prod.productName}

