.container
  .row{:style => "background-color:#1c1e4d"}
    .col-md-12{:style => "padding:15px;"}
      .col-md-10
        %span{:style => "color:white;"}
          Welcome FAQ
      .col-md-2
        %a{:href => "https://www.facebook.com/eptex/", :target => "_blank"}
          = image_tag('facebook_30x30white.png', :style => "vertical-align:middle;display:inline-block;")

        %a{:href => "mailto:skincare@puracappharma.com", :target => "_blank"}
          = image_tag('mail_30x30white.png', :style => "vertical-align:middle;display:inline-block;")

    .col-md-12{:style => "margin:0;padding:0;"}
      = image_tag('welcome1000x211.png', :style => "width:100%;")

    .col-md-12.col-xs-12{:style => "margin:15px 0 15px 0;"}
      .col-sm-4{:style => "padding:5px;"}
        = image_tag('eptex logo.png')
      .col-sm-4{:style => "padding:5px;"}
        = image_tag('controlledrelease_textstacked.png')
      .col-sm-4{:style => "padding:5px;"}
        = image_tag('EpiCeram-L.png')

.container
  = render 'layouts/patients_external/menu_bar'

