:javascript

  $(function(){
  
    $("#prescription").addClass("active");
    $("#prescription-mobile").addClass("active");
    $('#warning-sign').tooltip();
  
  })


.row{:style => "background-color:#f5f4f2;margin:0 0 0 0;"}
  .col-xs-12{:style => "background-color: rgba(194, 43, 36, 0.6);margin:0 15 0 15;"}
    .col-xs-12.col-sm-5{:style => "padding: 0 0 0 0;"}
      #page_title{:style => "background-color: #c22b24;"}
        %h5{:style => "color:white; line-height: 45px;margin:0 0 0 0;"} Select a Patient for a Prescription
    .col-sm-7.hidden-xs

  = render 'layouts/messages'

  .panel.panel-default{:style => "margin-bottom:0;"}
    .panel-body
    
      .row
        .col-xs-12
          .panel.panel-default

            .panel-body
              = form_tag({action: "index"}, method: "get", class: "form-inline", role: "form") do

                .row
                  .col-xs-12.col-md-3
                    .form-group
                      = text_field_tag "LastName", nil, class: "form-control", placeholder: "Last Name", id: "LastName"
                  .col-xs-12.col-md-3
                    .form-group
                      = text_field_tag "FirstName", nil, class: "form-control", placeholder: "First Name", id: "FirstName"
                  .col-xs-12.col-md-3
                    .form-group
                      = button_tag(type: "submit", class: "btn btn-info new_button") do
                        %span.glyphicon.glyphicon-search
                        Search

      .row
        .col-xs-12

          .panel.panel-default

            .panel-heading
              %h4.panel-title Search Results

            .panel-body
              .table-responsive
                %table.table.table-hover
                  %thead
                    %tr
                      %th Last Name
                      %th First Name
                      %th Medications
                      %th Patient Info
                      %th
                      %th

                  - @patients.each do |patient|

                    - if patient.Is_Email_Bounced__c == true
                      %tr.patient-bounced
                        = render partial: "row", locals: {:patient => patient}
                        %td
                          %span#warning-sign.glyphicon.glyphicon-exclamation-sign{"data-toggle" => "tooltip", "data-placement" => "right", title: "Email unreachable", rel: "tooltop"}

                    - if patient.Is_Email_Bounced__c == false
                      %tr
                        = render partial: "row", locals: {:patient => patient}
                        %td
              
  



            