!!!
%html
  = render 'shared/metainfo'
  = render 'layouts/fb_pixel'
  = javascript_include_tag "patients"
  %body{"data-no-turbolink" => "true"}
    = render 'layouts/patients/header'
    = render 'layouts/patients/main'
    = render 'layouts/external/footer'