!!!
%html
  = render 'shared/metainfo'
  = render 'layouts/bold_chat'
  = render 'layouts/google_analytics'
  %body
    = render 'layouts/patients_external/header'
    = render 'layouts/patients_external/main'
    = render 'layouts/patients_external/footer_login'
