!!!
%html
  = render 'shared/metainfo'
  = render 'layouts/google_analytics'
  <img height="1" width="1"src="https://www.facebook.com/tr?id=252482198497323&ev=PageView&noscript=1"/>
  %body
    = render 'layouts/patients_external/header'
    = render 'layouts/patients_external/main'
    = render 'layouts/external/footer'

