!!!
%html
  = render 'shared/metainfo'
  = render 'layouts/google_analytics'
  %body
    = render 'layouts/patients_external/header'
    = render 'layouts/patients_external/main'
    = render 'layouts/external/footer'
